@keyframes dropDown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Gothic", sans-serif;
}

body {
  height: 100vh;
  background-color: black;
}

main {
  padding-bottom: 24px;
}

a {
  text-decoration: none;
}

.logos-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#menu-icon, #search-icon {
  width: 20px;
  transition: 350ms linear;
}
#menu-icon.open-menu, #search-icon.open-menu {
  transform: rotate(135deg);
}
#menu-icon.open-search, #search-icon.open-search {
  transform: rotateY(360deg);
}

#menu-button, #search-button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

#main-logo {
  width: 50px;
}

#dropdown-menu {
  display: none;
  width: 100%;
  color: white;
  background-color: black;
  text-transform: uppercase;
  padding: 20px 24px;
  animation: dropDown 350ms linear;
  transform-origin: top;
}
#dropdown-menu.visible {
  display: block;
  position: absolute;
}

#dropdown-menu h2 {
  font-size: 40px;
  font-weight: 400;
  border-bottom: 2px solid white;
  line-height: 70px;
}
#dropdown-menu ul {
  margin: 20px 0;
  border-bottom: 2px solid white;
}
#dropdown-menu li {
  margin: 10px 0;
  list-style: none;
}

.category-name {
  font-size: 32px;
  color: white;
}
.category-name:visited {
  color: white;
}

.login-button, .signup-button {
  display: block;
  width: 90%;
  max-width: 340px;
  font-size: 32px;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 14px auto;
  background-color: white;
  cursor: pointer;
  transition: 350ms linear;
}

.login-button {
  background-color: #e370f5;
  margin-top: 30px;
  border: 2px solid #e370f5;
}
.login-button:hover {
  background-color: black;
  color: #e370f5;
}

.signup-button {
  border: 2px solid white;
}
.signup-button:hover {
  background-color: black;
  color: white;
}

#search-bar {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px 0;
  background-color: black;
  animation: dropDown 350ms linear;
  transform-origin: top;
}
#search-bar.visible {
  display: flex;
  position: absolute;
}

#search-input {
  width: 50%;
  max-width: 340px;
  background-color: transparent;
  color: white;
  font-size: 32px;
  border: none;
  border-bottom: 2px solid white;
}

#search-bar-button {
  background-color: transparent;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 10px;
  cursor: pointer;
}

.clue-club-logo {
  width: 65%;
  max-width: 340px;
  display: block;
  margin: 40px auto;
}

#email, #password {
  display: block;
  margin: 14px auto;
  width: 90%;
  max-width: 340px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-size: 24px;
  padding: 14px 20px;
}
#email::-moz-placeholder, #password::-moz-placeholder {
  text-transform: uppercase;
  color: white;
}
#email::placeholder, #password::placeholder {
  text-transform: uppercase;
  color: white;
}

#login-message {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 auto;
  width: 90%;
  max-width: 340px;
}
#login-message.visible {
  animation: dropDown 350ms linear;
  transform-origin: top;
}/*# sourceMappingURL=main.css.map */